name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_DATABASE_ID: ${{ secrets.CLOUDFLARE_DATABASE_ID }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Create local database for testing
        run: |
          echo "CLOUDFLARE_DATABASE_ID=DB" >> $GITHUB_ENV
          echo "D1_LOCAL_DATABASE=true" >> $GITHUB_ENV

      - name: Apply D1 migrations
        run: |
          bunx wrangler d1 migrations apply DB --local
          sleep 5

      - name: Setup D1 DB
        run: |
          bunx wrangler d1 execute DB --local --file ./src/infrastructure/db/seeds/new_schema_seed.sql
          sleep 5

      - name: Run tests
        run: |
          bun run test
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"
          VITEST_SEQUENCE: "true"
